streamlit
fastapi
uvicorn[standard]
sentence-transformers
pydantic
pydantic-settings
httpx
python-dotenv
pandas
plotly
altair
scikit-learn
pyyaml
streamlit-authenticator
streamlit-option-menu
extra-streamlit-components
streamlit-elements
streamlit-extras
psycopg2-binary
sqlalchemy
aiosqlite
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
geopy
pydeck
pytesseract
Pillow
openai
google-generativeai
torch
transformers
requests
httpx
python-multipart
